@model ToDoList.BL.DTO.ToDoListDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Todo Model</h4>
<hr />
<div>
    <form class="row" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="p-4 col">
            <input placeholder="Title" asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="p-4 col">
            <input placeholder="Description" asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="p-4 col">
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsFinished" /> @Html.DisplayNameFor(model => model.IsFinished)
                </label>
            </div>
        </div>
        <div class="p-4 d-flex justify-content-center form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
